body {
	background-color: black;
	color: white;
}

#page-title {
	text-align: center;
}

#user-welcome {
	text-align: center;
}

#google-login {
	text-align: center;
	margin: auto;
}

#location-search {
	text-align: center;
}

#results-list {
	text-align: center;
}