body {
	background-color: black;
	color: white;
}

hr {
	color: grey;
}

#page-title, #user-welcome, #results-title {
	text-align: center;
}

#google-login {
	text-align: center;
	margin: auto;
}

#location-search {
	text-align: center;
}

#results-list {
	text-align: center;
	margin: auto;
	margin-top: 40px;
	width: 400px;
}

#result-image, #result-name, #going-counter, 
#user-going-message, #remove-going-btn {
	display: inline-block;
}

#result-image {
	float: left;
	vertical-align: middle;
	height: 50px;
	width: 50px;
}

#going-counter {
	float: right;
}

#result {
	margin-top: 5px;
	margin-bottom: 5px;
}

#user-going-options {
	text-align: center;
}

#user-going-message {
	margin-right: 50px;
}

#remove-going-btn {
	margin-left: 70px;
}