body {
	background-color: black;
	color: white;
}

#page-title, #user-welcome, #results-title {
	text-align: center;
}

#google-login {
	text-align: center;
	margin: auto;
}

#location-search {
	text-align: center;
}

#results-list {
	text-align: center;
	margin: auto;
	width: 400px;
}

#result-image, #result-name, #going-counter {
	display: inline-block;
}

#result-image {
	float: left;
	vertical-align: middle;
	height: 50px;
	width: 50px;
}

#going-counter {
	float: right;
}