<html>
<head>
	<title>Nightlife Coordination App</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div id="page-container">
		<h1 id="page-title">Nightlife Coordination App</h1>
	</div>
</body>
</html>